odoo14-addon-ssi-accountant-report
odoo14-addon-ssi-master-data-mixin
odoo14-addon-ssi-transaction-partner-mixin
odoo14-addon-ssi-transaction-cancel-mixin
odoo14-addon-ssi-transaction-confirm-mixin
odoo14-addon-ssi-transaction-done-mixin
odoo14-addon-ssi-transaction-open-mixin
git+https://github.com/open-synergy/ssi-app-store@14.0#subdirectory=setup/ks_dashboard_ninja
