<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0-standalone.html). -->
<odoo>
    <menuitem
        id="mail.menu_root_discuss"
        name="Discuss"
        web_icon="ssi_general_audit_core,static/icon/discussion.png"
        sequence="100"
    />

    <menuitem
        id="contacts.menu_contacts"
        name="Contacts"
        web_icon="ssi_general_audit_core,static/icon/contact.png"
        sequence="110"
    />

    <menuitem
        id="ssi_hr.menu_root_human_resource"
        name="Human Resources"
        web_icon="ssi_general_audit_core,static/icon/hr.png"
        sequence="110"
    />



    <menuitem
        id="ssi_general_audit.menu_general_information"
        name="General Information"
        web_icon="ssi_general_audit_core,static/icon/general-information.png"
        sequence="200"
    />

    <menuitem
        id="ssi_general_audit.menu_preliminary_engagement_root"
        name="Pre-Engagement"
        web_icon="ssi_general_audit_core,static/icon/pre-engagement.png"
        sequence="201"
    />

    <menuitem
        id="ssi_general_audit.menu_risk_assesment_root"
        name="Risk Assessment"
        web_icon="ssi_general_audit_core,static/icon/risk-assessment.png"
        sequence="202"
    />

    <menuitem
        id="ssi_general_audit.menu_risk_responses_root"
        name="Risk Responses"
        web_icon="ssi_general_audit_core,static/icon/risk-response.png"
        sequence="203"
    />

    <menuitem
        id="ssi_general_audit.menu_wind_up_reporting_root"
        name="Windup &amp; Reporting"
        web_icon="ssi_general_audit_core,static/icon/windup-reporting.png"
        sequence="204"
    />

    <menuitem
        id="ssi_general_audit.menu_general_audit_configuration"
        name="Configuration"
        web_icon="ssi_general_audit_core,static/icon/configuration.png"
        sequence="206"
    />

    <menuitem
        id="ssi_accountant.menu_root_accountant"
        name="Accountant"
        web_icon="ssi_general_audit_core,static/icon/accountant.png"
        sequence="997"
    />

    <menuitem
        id="base.menu_management"
        name="Apps"
        web_icon="ssi_general_audit_core,static/icon/apps.png"
        sequence="998"
    />

    <menuitem
        id="base.menu_administration"
        name="Settings"
        web_icon="ssi_general_audit_core,static/icon/setting.png"
        sequence="998"
    />

</odoo>
