<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0-standalone.html). -->
<odoo>
    <menuitem
        id="menu_general_information"
        name="General Information"
        web_icon="ssi_general_audit,static/description/general_audit.png"
        sequence="200"
    />

    <menuitem
        id="menu_general_audit_report"
        name="Report"
        parent="menu_general_information"
        sequence="999"
    />

    <!-- PRE ENGAGEMENT -->
    <menuitem
        id="menu_preliminary_engagement_root"
        name="Pre-Engagement"
        web_icon="ssi_general_audit,static/description/preliminary_engagement.png"
        sequence="201"
    />

    <menuitem
        id="menu_general_audit_client_acceptance"
        name="Client Acceptance"
        parent="menu_preliminary_engagement_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_working_plan"
        name="Audit Working Plan"
        parent="menu_preliminary_engagement_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_administrative"
        name="Administrative"
        parent="menu_preliminary_engagement_root"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_team_communication"
        name="Team Communication"
        parent="menu_preliminary_engagement_root"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_other"
        name="Others"
        parent="menu_preliminary_engagement_root"
        sequence="99"
    />

    <!-- RISK ASSESSMENT -->
    <menuitem
        id="menu_risk_assesment_root"
        name="Risk Assessment"
        web_icon="ssi_general_audit,static/description/risk_assesment.png"
        sequence="202"
    />

    <menuitem
        id="menu_general_audit_client_package"
        name="Client Assistance Package"
        parent="menu_risk_assesment_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_trial_balance"
        name="Trial Balance"
        parent="menu_risk_assesment_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_materiality"
        name="Materiality"
        parent="menu_risk_assesment_root"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_analytical_procedure"
        name="Analytical Procedures"
        parent="menu_risk_assesment_root"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_understanding_entity"
        name="Understanding The Entity"
        parent="menu_risk_assesment_root"
        sequence="5"
    />

    <menuitem
        id="menu_general_audit_business_activity"
        name="Business Activity"
        parent="menu_general_audit_understanding_entity"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_inherent_risk"
        name="Inherent Risk"
        parent="menu_risk_assesment_root"
        sequence="6"
    />

    <menuitem
        id="menu_general_audit_control_risk"
        name="Control Risk"
        parent="menu_risk_assesment_root"
        sequence="7"
    />

    <menuitem
        id="menu_general_audit_romm"
        name="ROMM"
        parent="menu_risk_assesment_root"
        sequence="8"
    />

    <menuitem
        id="menu_general_audit_audit_plan_memo"
        name="Audit Planning Memorandum"
        parent="menu_risk_assesment_root"
        sequence="9"
    />

    <menuitem
        id="menu_general_audit_ra_team_communication"
        name="Team Communication"
        parent="menu_risk_assesment_root"
        sequence="10"
    />

    <menuitem
        id="menu_risk_assesment_others"
        name="Others"
        parent="menu_risk_assesment_root"
        sequence="99"
    />

    <!-- RISK RESPONSES -->
    <menuitem
        id="menu_risk_responses_root"
        name="Risk Responses"
        web_icon="ssi_general_audit,static/description/risk_response.png"
        sequence="203"
    />

    <menuitem
        id="menu_general_audit_lead_schedule"
        name="Lead Schedule"
        parent="menu_risk_responses_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_specific_procedure"
        name="Specific Procedures"
        parent="menu_risk_responses_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_expert"
        name="Expert"
        parent="menu_risk_responses_root"
        sequence="3"
    />

    <!-- Windup & Reporting -->
    <menuitem
        id="menu_wind_up_reporting_root"
        name="Windup &amp; Reporting"
        web_icon="ssi_general_audit,static/description/wind_up_reporting.png"
        sequence="204"
    />

    <menuitem
        id="menu_general_audit_audit_result"
        name="Audit Result"
        parent="menu_wind_up_reporting_root"
        sequence="1"
    />
    <menuitem
        id="menu_general_audit_audit_result_info"
        name="Audit Result Formulation"
        parent="menu_general_audit_audit_result"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_final_materiality"
        name="Final Materiality &amp; Analytical Procedures"
        parent="menu_wind_up_reporting_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_final_analytical_procedure"
        name="Final Analytical Procedures"
        parent="menu_general_audit_final_materiality"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_draft_reporting"
        name="Draft Reporting"
        parent="menu_wind_up_reporting_root"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_final_discussion"
        name="Final Discussion"
        parent="menu_general_audit_draft_reporting"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_review"
        name="Review"
        parent="menu_wind_up_reporting_root"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_final_disclosure"
        name="Financial Statement Disclosure"
        parent="menu_general_audit_review"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_audit_evidence"
        name="Audit Evidence"
        parent="menu_general_audit_review"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_final_report"
        name="Final Report"
        parent="menu_wind_up_reporting_root"
        sequence="5"
    />

    <menuitem
        id="menu_detail_root"
        name="Detail Worksheet"
        web_icon="ssi_general_audit,static/description/detail_worksheet.png"
        sequence="205"
    />

    <menuitem
        id="menu_general_audit_configuration"
        name="Configuration"
        web_icon="ssi_general_audit,static/description/configuration.png"
        sequence="206"
    />

    <menuitem
        id="menu_configuration_worksheet"
        name="Worksheet"
        sequence="10"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_acc_computation"
        name="Account &amp; Computation"
        sequence="20"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_std_regulation"
        name="Standard &amp; Regulation"
        sequence="30"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_checklist"
        name="Checklist"
        sequence="40"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_option_category"
        name="Options &amp; Categories"
        sequence="50"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_general_audit"
        name="General Audit"
        sequence="1"
        parent="menu_general_audit_configuration"
    />




    <!-- Configuration General Audit -->
    <menuitem
        id="menu_configuration_general_audit"
        name="General Audit"
        sequence="1"
        parent="menu_general_audit_configuration"
    />




    <!-- Configuration Pre-Engagement -->
    <menuitem
        id="menu_configuration_pre_engagement"
        name="Pre-Engagement"
        sequence="2"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_client_acceptance"
        name="Client Acceptance"
        sequence="1"
        parent="menu_configuration_pre_engagement"
    />
    <menuitem
        id="menu_configuration_awp"
        name="Audit Working Plan"
        sequence="2"
        parent="menu_configuration_pre_engagement"
    />
    <menuitem
        id="menu_configuration_competency"
        name="Competency, Availability and Independency Of Assignment Team"
        sequence="5"
        parent="menu_configuration_pre_engagement"
    />
    <menuitem
        id="menu_configuration_administrative"
        name="Administrative"
        sequence="6"
        parent="menu_configuration_pre_engagement"
    />
    <menuitem
        id="menu_configuration_team_comm"
        name="Team Communication"
        sequence="71"
        parent="menu_configuration_checklist"
    />

    <!-- Configuration Risk Assessment -->
    <menuitem
        id="menu_configuration_risk_assessment"
        name="Risk Assessment"
        sequence="2"
        parent="menu_general_audit_configuration"
    />
    <menuitem
        id="menu_configuration_client_assistance_package"
        name="Client Assistance Package"
        sequence="1"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_trial_balance"
        name="Trial Balance"
        sequence="2"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_materiality"
        name="Materiality"
        sequence="3"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_analytical_procedure"
        name="Analytical Procedures"
        sequence="4"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_understanding_entity"
        name="Understanding The Entity"
        sequence="5"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_business_activity"
        name="Business Activities"
        sequence="4"
        parent="menu_configuration_understanding_entity"
    />
    <menuitem
        id="menu_configuration_going_concern"
        name="Going Concern"
        parent="menu_configuration_understanding_entity"
        sequence="7"
    />

    <menuitem
        id="menu_configuration_fraud"
        name="Fraud"
        parent="menu_configuration_understanding_entity"
        sequence="8"
    />
    <menuitem
        id="menu_configuration_inherent_risk"
        name="Inherent Risk"
        sequence="6"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_control_risk"
        name="Control Risk"
        sequence="7"
        parent="menu_configuration_risk_assessment"
    />
    <menuitem
        id="menu_configuration_romm"
        name="ROMM"
        sequence="8"
        parent="menu_configuration_risk_assessment"
    />

    <!-- Configuration Risk Response -->
    <menuitem
        id="menu_configuration_risk_response"
        name="Risk Response"
        sequence="3"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_specific_procedure"
        name="Specific Procedures"
        sequence="2"
        parent="menu_configuration_risk_response"
    />

    <menuitem
        id="menu_configuration_auditor_expert"
        name="Auditor Expert"
        sequence="1"
        parent="menu_configuration_specific_procedure"
    />

    <menuitem
        id="menu_configuration_mgmt_expert"
        name="Management Expert"
        sequence="2"
        parent="menu_configuration_specific_procedure"
    />

    <!-- Configuration Windup & Reporting -->
    <menuitem
        id="menu_configuration_windup_reporting"
        name="Windup &amp; Reporting"
        sequence="3"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_audit_result"
        name="Audit Result"
        sequence="1"
        parent="menu_configuration_windup_reporting"
    />
    <menuitem
        id="menu_configuration_audit_result_formulation"
        name="Audit Result Formulation"
        sequence="1"
        parent="menu_configuration_audit_result"
    />
    <menuitem
        id="menu_configuration_final_materiality"
        name="Final Materiality &amp; Analytical Procedures"
        sequence="2"
        parent="menu_configuration_windup_reporting"
    />
    <menuitem
        id="menu_configuration_draft_reporting"
        name="Draft Reporting"
        sequence="3"
        parent="menu_configuration_windup_reporting"
    />
    <menuitem
        id="menu_configuration_review"
        name="Review"
        sequence="270"
        parent="menu_configuration_checklist"
    />
    <menuitem
        id="menu_configuration_final_disclosure"
        name="Financial Statement Disclosure"
        sequence="1"
        parent="menu_configuration_review"
    />
    <menuitem
        id="menu_configuration_final_disclosure"
        name="Financial Statement Disclosure"
        sequence="1"
        parent="menu_configuration_review"
    />
    <menuitem
        id="menu_configuration_audit_evidence"
        name="Audit Evidence"
        sequence="3"
        parent="menu_configuration_review"
    />
    <menuitem
        id="menu_configuration_independen_auditor"
        name="Independen Auditor Report"
        sequence="4"
        parent="menu_configuration_review"
    />

    <menuitem
        id="menu_general_audit_ref_library"
        name="Reference &amp; Library"
        web_icon="ssi_general_audit,static/description/reference_library.png"
        sequence="207"
    />
</odoo>
