<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl-3.0-standalone.html). -->
<odoo>
    <menuitem
        id="menu_general_information"
        name="General Information"
        web_icon="ssi_general_audit,static/description/icon.png"
        sequence="200"
    />

    <menuitem
        id="menu_general_audit_report"
        name="Report"
        parent="menu_general_information"
        sequence="999"
    />

    <!-- PRE ENGAGEMENT -->
    <menuitem
        id="menu_preliminary_engagement_root"
        name="Pre-Engagement"
        web_icon="ssi_general_audit,static/description/preliminary_engagement.png"
        sequence="201"
    />

    <menuitem
        id="menu_general_audit_client_acceptance"
        name="Client Acceptance"
        parent="menu_preliminary_engagement_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_working_plan"
        name="Audit Working Plan"
        parent="menu_preliminary_engagement_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_administrative"
        name="Administrative"
        parent="menu_preliminary_engagement_root"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_team_communication"
        name="Team Communication"
        parent="menu_preliminary_engagement_root"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_other"
        name="Others"
        parent="menu_preliminary_engagement_root"
        sequence="99"
    />

    <!-- RISK ASSESMENT -->
    <menuitem
        id="menu_risk_assesment_root"
        name="Risk Assesment"
        web_icon="ssi_general_audit,static/description/risk_assesment.png"
        sequence="202"
    />

    <menuitem
        id="menu_general_audit_client_package"
        name="Client Assistance Package"
        parent="menu_risk_assesment_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_trial_balance"
        name="Trial Balance"
        parent="menu_risk_assesment_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_materiality"
        name="Materiality"
        parent="menu_risk_assesment_root"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_analytical_procedure"
        name="Analytical Procedures"
        parent="menu_risk_assesment_root"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_understanding_entity"
        name="Understanding The Entity"
        parent="menu_risk_assesment_root"
        sequence="5"
    />

    <menuitem
        id="menu_general_audit_inherent_risk"
        name="Inherent Risk"
        parent="menu_risk_assesment_root"
        sequence="6"
    />

    <menuitem
        id="menu_general_audit_control_risk"
        name="Control Risk"
        parent="menu_risk_assesment_root"
        sequence="7"
    />

    <menuitem
        id="menu_general_audit_romm"
        name="ROMM"
        parent="menu_risk_assesment_root"
        sequence="8"
    />

    <menuitem
        id="menu_general_audit_audit_plan_memo"
        name="Audit Planning Memorandum"
        parent="menu_risk_assesment_root"
        sequence="9"
    />

    <menuitem
        id="menu_risk_assesment_others"
        name="Others"
        parent="menu_risk_assesment_root"
        sequence="99"
    />

    <!-- RISK RESPONSES -->
    <menuitem
        id="menu_risk_responses_root"
        name="Risk Responses"
        web_icon="ssi_general_audit,static/description/risk_response.png"
        sequence="203"
    />

    <menuitem
        id="menu_general_audit_lead_schedule"
        name="Lead Schedule"
        parent="menu_risk_responses_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_specific_procedure"
        name="Specific Procedures"
        parent="menu_risk_responses_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_expert"
        name="Expert"
        parent="menu_risk_responses_root"
        sequence="3"
    />

    <!-- Windup & Reporting -->
    <menuitem
        id="menu_wind_up_reporting_root"
        name="Windup &amp; Reporting"
        web_icon="ssi_general_audit,static/description/wind_up_reporting.png"
        sequence="204"
    />

    <menuitem
        id="menu_general_audit_audit_result"
        name="Audit Result"
        parent="menu_wind_up_reporting_root"
        sequence="1"
    />

    <menuitem
        id="menu_general_audit_final_materiality"
        name="Final Materiality &amp; Analytical Procedures"
        parent="menu_wind_up_reporting_root"
        sequence="2"
    />

    <menuitem
        id="menu_general_audit_draft_reporting"
        name="Draft Reporting"
        parent="menu_wind_up_reporting_root"
        sequence="3"
    />

    <menuitem
        id="menu_general_audit_review"
        name="Review"
        parent="menu_wind_up_reporting_root"
        sequence="4"
    />

    <menuitem
        id="menu_general_audit_final_report"
        name="Final Report"
        parent="menu_wind_up_reporting_root"
        sequence="5"
    />

    <menuitem
        id="menu_detail_root"
        name="Detail Worksheet"
        web_icon="ssi_general_audit,static/description/detail_worksheet.png"
        sequence="205"
    />

    <menuitem
        id="menu_general_audit_configuration"
        name="Configuration"
        web_icon="ssi_general_audit,static/description/configuration.png"
        sequence="206"
    />

    <menuitem
        id="menu_configuration_general_audit"
        name="General Audit"
        sequence="1"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_pre_engagement"
        name="Pre-Engagement"
        sequence="2"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_client_acceptance"
        name="Client Acceptance"
        sequence="1"
        parent="menu_configuration_pre_engagement"
    />
    <menuitem
        id="menu_configuration_competency"
        name="Competency, Availability and Independency Of Assignment Team"
        sequence="5"
        parent="menu_configuration_pre_engagement"
    />

    <menuitem
        id="menu_configuration_trial_balance"
        name="Trial Balance"
        sequence="3"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_configuration_worksheet"
        name="Worksheet"
        sequence="4"
        parent="menu_general_audit_configuration"
    />

    <menuitem
        id="menu_general_audit_ref_library"
        name="Reference &amp; Library"
        web_icon="ssi_general_audit,static/description/reference_library.png"
        sequence="207"
    />
</odoo>
